.footerContainer {
    width: 100vw;
    max-width: 100%;
    min-height: 7vh;
    background: var(--color-60-shade);
    display: grid;
    place-content: center;
    text-align: center;
}

.footerTitle, .footerTitle a {
    color: var(--color-extra-shade);
    font-family: var(--font-page);
}

.footerContacts {
    background: var(--color-60-shade);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContactsList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    list-style-type: none;
}