.movieListContainer {
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  padding: 0 50px 100px 50px;
  background: var(--color-60);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movieListTitle {
  display: inline-block;
  color: var(--color-30);
  margin: 30px 0;
  font-family: var(--font-page);
  font-size: 3rem;
  border-bottom: 2px solid var(--color-10);
}

.movieListItems {
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
  grid-template-rows: repeat(auto-fill, minmax(500px, 1fr));
  place-content: center;
  gap: 15px;
}
